.CardHeader {
  size: 20px;
  font-weight: 800;
  font-family: "Barlow", sans-serif;
}

.StandardText1 {
  size: 12px;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
}

.StandardText2 {
  size: 12px;
  font-family: "Barlow", sans-serif;
}
